data/data.p
tabelas tratadas.txt
__pycache__/app.cpython-37.pyc
__pycache__/dash.cpython-37.pyc
__pycache__/layouts.cpython-37.pyc
data/anac_historico.csv
data/*
__pycache__/callbacks.cpython-37.pyc
__pycache__/layout_departures_and_arrivals.cpython-37.pyc
__pycache__/layout_flight_duration.cpython-37.pyc
__pycache__/layout_flight_status.cpython-37.pyc
__pycache__/parsed_data.cpython-37.pyc
